.main{
  background-image: url(./assets/main.jpg);
  background-size: cover;
  
  /* 배경 색상을 투명하게 설정 (예: 검은색의 50% 투명도) */
  background-color: rgba(0, 0, 0, 0.5);
  
  /* 배경 이미지를 화면에 고정시킵니다. */
  background-attachment:scroll;
  
  /* 배경 이미지의 위치를 가운데 정렬합니다. */
  background-position: center;
  
  /* 배경 이미지가 반복되지 않도록 설정합니다. */
  background-repeat: no-repeat;
  
  /* 화면 전체에 꽉 차게 설정합니다. */
  width: 99vw;
  height: 150vh;
}
.main-text{
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -80%);
  color: saddlebrown;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease;
  min-width: 360px;
  min-height: 240px;
  text-align: center;
  box-sizing: border-box; /* 패딩과 테두리를 요소의 크기에 포함 */
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  justify-content: center; /* 요소를 수직으로 가운데 정렬 */
}


.main-text:hover{
  color: wheat;
  background-color: black;
}


